<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="<%=baseUrl%>/assets/css/paper.min.css"> -->
    <link rel="stylesheet" href="<%=baseUrl%>/assets/css/tenant.css">
    <title>Print</title>
    <!-- https://stackoverflow.com/questions/1630819/google-chrome-printing-page-breaks -->
   <!-- <style type="text/css" media="print">
      div.page
      {
        page-break-before: always;
        page-break-inside: avoid;
      }
    </style>
   <style>
    table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid;
    }

</style> -->
</head>
<body>
    <section class="sheet">
        <h1 class="text-center">mixtape Report</h1>
        <h3 class="text-center">Tenant: <%=tenant.fullName%></h3>
        <h3 class="text-center">Lease Begins: <%=moment(lease.leaseBegins).format('MM/DD/YYYY')%></h3>
        <h3 class="text-center">Report Date: <%=moment().format('MM/DD/YYYY')%></h3>
        <h3 class="text-center">Status: <%=status%></h3>
        <br>
        <p class="property">Property</p>
        <table class="table">
           <!-- <thead>
               <tr>
                  <th></th>
                  <th align="left">LOCATION</th>
                  <th align="left">MANAGER</th>
                </tr>
            </thead> -->
            <tbody>
                <tr class="row-style">
                    <td rowspan="4" width="260">
                        <img src="<%=baseUrl%>/uploads/images/<%=tenant.id%>/thumbnails/<%=lease.photo%>" height="190"  class="thumbnail">
                    </td>
                    <td class="property-header" width="200">LOCATION</td>
                    <td class="property-header">MANAGER</td>
                </tr>
                <tr class="row-style">
                    <td><p class="text-left"><%=lease.property.street%>, <%=lease.property.state%></p></td>
                    <td><p><%= lease.manager.fullName %> </p> </td>
                </tr>
                 <tr class="row-style">
                    <td><p class="text-left"><%=lease.property.city%>, <%=lease.property.zip%> </p> </td>
                    <td><%=lease.manager.phone %></td>
                </tr>
                 <tr class="row-style">
                    <td> <span style="margin-left:10px"> <%=lease.manager.email %> </span> </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <em>
         This report is an assessment and depicts the inventory and condition of the property at the beginning of the lease.
         Photos shown, were taken of areas on or inside the property and existed prior to move in.
        </em>
        <hr>

        <!-- <br><div style="page-break-after:always;"></div> -->
        <p class="heading"><span class="heading-title">SUMMARY OF ISSUES</span></p>
         <% for(var i=0; i<lease.rooms.length; i++) { %>
        <table class="print-friendly property-details-table">
        <!--  NOTE: Group images with area, if are has nested images items then pring room label as header -->
          <% var imageCoount  = 0 %>
                      <% for(var j=0; j<lease.rooms[i].items.length; j++) { %>
                           <% if (lease.rooms[i].items[j].images.length > 0) { %>
                                 <% imageCoount = lease.rooms[i].items[j].images.length %>
                           <% } %>
                      <% } %>
          <% if (imageCoount > 0) { %>
           <thead>
                <th align="left" width="40%">
                    <span style="margin-left:5px;">
                        <%= lease.rooms[i].label %>
                    </span>
              </th>
            </thead>
          <% } %>

            <tbody>
                 <% for(var j=0; j<lease.rooms[i].items.length; j++) { %>
                      <% for(var k=0; k<lease.rooms[i].items[j].images.length; k++) { %>
                           <tr>
                               <table>
                                <tr>
                                    <td width="2">
                                        <img src="<%=baseUrl%>/uploads/images/<%=tenant.id%>/thumbnails/<%=lease.rooms[i].items[j].images[k].file%>" class="thumbnail" height="140">
                                    </td>
                                    <td align="left" valign="top">
                                        <div class="photo-detail-cell">
                                            <div style="margin:5px; padding:5px;">
                                                <p class="are area-room-label"><%= lease.rooms[i].label %></p>
                                                <p class="area area-title"><%= lease.rooms[i].items[j].title %> </p>
                                                <p class="area area-comment">Comment:  <%= lease.rooms[i].items[j].images[k].comment %></p>
                                                <p class="area area-date">Date: <%=moment(lease.rooms[i].created).format('MM/DD/YYYY')%></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                               </table>
                           </tr>
                      <% } %>
                 <% } %>
            </tbody>
        </table>
        <% } %>
        <p class="heading"><span class="heading-title">END OF SUMMARY OF ISSUES</span></p>
        <p class="heading"><span class="heading-title">ROOM DETAILS</span></p>
          <% for(var i=0; i<lease.rooms.length; i++) { %>
        <table class="print-friendly property-details-table">
            <thead>
                <th align="left" width="40%"> <span style="margin-left:5px;"> <%= lease.rooms[i].label %> </span> </th>
                <th width="10%"><span style="font-size:8px">  No Issues Observed <span></th>
                <th width="10%"> <span style="font-size:8px"> Not Applicable </span></th>
                <th width="10%"> <span style="font-size:8px"> Needs Attention </span></th>
            </thead>
            <tbody>
                 <% for(var j=0; j<lease.rooms[i].items.length; j++) { %>
                        <tr class="row-style">
                            <td><span style="margin-left:5px;"><%= lease.rooms[i].items[j].title %> </span></td>
                            <td align="center"><div class="checkbox <%= lease.rooms[i].items[j].selectedOption == 'Observed' ? 'checked': '' %>"></div></td>
                            <td align="center"><div class="checkbox <%= lease.rooms[i].items[j].selectedOption == 'N/A' ? 'checked': '' %>"></div></td>
                            <td align="center"><div class="checkbox <%= lease.rooms[i].items[j].selectedOption !== 'N/A' && lease.rooms[i].items[j].selectedOption !== 'Observed' ? 'checked yes': '' %>"></div></td>
                        </tr>
                 <% } %>
            </tbody>
        </table>
        <% } %>
        <p class="heading"><span class="heading-title">END OF ROOM DETAILS</span></p>
        <br /><br />
        <p class="heading n-m-b"> <span class="heading-title"> Close Out Details and Signature </span> </p>
        <div class="notes signature">
            <p style="margin-left:5px;">Tenant Signature</p>
            <img src="<%=baseUrl%>/uploads/images/<%=tenant.id%>/<%=lease.signature%>" height="200">
        </div>
        <div class="page">
            <p class="heading n-m-b"> <span class="heading-title"> NOTES </span></p>
            <div class="notes"> </div>
            <p class="heading"><span class="heading-title">END OF REPORT</span></p>
        </div>
       <!-- <div id="pageFooter" class="page-footer">© 2018 mixtape, LLC</div> -->
    </section>
</body>
</html>
